@model Clinic4.ViewModels.PatientAppointmentsViewModel

@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@if (Model == null)
{
    <h2 class="display-4">Login Requiredc</h2>
    <p class="lead">
        To access your profile, please login to your account first
    </p>

    // code below creates 2 anchors that act like buttons
    @Html.ActionLink("Log In", "Authenticate", "Login", null, new { @class = "btn btn-info mr-2" })
    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-info" })

}
else
{
    <h2 class="display-4">Manage Appointments</h2>

    <div class="table-responsive">

        @foreach (var item in Model.Appointments)
        {
            <table class="table table-bordered mb-5 mt-5">
                <tr>
                    <th>Doctor Name:</th>
                    <td>@item.DoctorName</td>

                </tr>
                <tr></tr>
                <tr>
                    <th>Appointment Date:</th>
                    <td>@item.AppointmentDate</td>
                </tr>
            </table>
            <hr />
        }
    </div>
}



