
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h2>Please login</h2>
        <form method="post" action="Validate">
            User Name: <input name="UserName" type="text" /><br/>
            User Password: <input name="Password" type="text" /><br/>
            <input id="Submit1" type="submit" value="submit" />
        </form>
    </div>
</body>
</html>
